<!DOCTYPE html>
<html data-ng-app="produtosApp">
    <head>
        <title>Angular JS + Java</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body data-ng-controller="ProdutosController">
        <form>
            <label for="codigo">Codigo: </label>
            <input id="codigo" name="codigo" type="text" data-ng-model="produto.id" readonly/>
            <br>
            <br>
            <label for="descricao">Descrição: </label>
            <input id="descricao" name="descricao" type="text" data-ng-model="produto.descricao"/>
            <br>
            <br>
            <label for="preco">Preço: </label>
            <input id="preco" name="preco" type="text" data-ng-model="produto.preco"/>
            <br>
            <br>
            <button data-ng-click="salvar(produto)">Salvar</button>
            <button data-ng-click="cancelar()">Cancelar</button>
        </form>

        <hr>
        <h1>Tabela de produtos</h1>

        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="produto in produtos track by $index"> 
                    <td>{{produto.id}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>{{produto.preco}}</td>
                    <td><button data-ng-click="editar(produto)">Editar</button></td>
                    <td><button data-ng-click="excluir(produto)">Excluir</button></td>
                </tr>
            </tbody>
        </table>

        <script src="js/angular.min.js"></script>
        <script>
            var app = angular.module('produtosApp', []);

            app.controller('ProdutosController', function ($scope, ProdutosService) {
                var novo = true;
                $scope.produto = {};
                var salvar;
                var salvar;


                listar();

                function listar() {
                    ProdutosService.listar().then(function (res) {
                        $scope.produtos = res.data;
                    });
                }

                $scope.salvar = function (produto) {
                    ProdutosService.salvar(produto, novo).then(function (res) {
                        listar();
                        console.log(res);
                    });
                    $scope.produto = {};
                    novo = true;
                };

                $scope.excluir = function (produto) {
                    ProdutosService.excluir(produto).then(function (res) {
                        listar();
                        console.log(res);
                    });
                };

                $scope.editar = function (produto) {
                    $scope.produto = angular.copy(produto);
                    novo = false;
                };
                $scope.cancelar = function () {
                    $scope.produto = {};
                };
            });

            app.service('ProdutosService', function ($http) {
                var api = 'http://localhost:3000/produtos';
                this.listar = function () {
                    return $http.get(api);
                }

                this.salvar = function (produto, novo) {
                    if (!novo) {
                        return $http.put(api + "/" + produto.id, produto);
                    } else {
                        return $http.post(api, produto);
                    }
                }

                this.excluir = function (produto) {
                    return $http.delete(api + "/" + produto.id);
                }
            });
        </script>
    </body>
</html>
